<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>This is a calculator for basic operations</p>
  <div style="display:flex; width:100%; justify-content:center;">
    <div style="padding:0.5em 2em;"><input type="radio" value="Addition" [(ngModel)]="Operation" (change)="OperatorChange()">Addition(+)</div>
    <div style="padding:0.5em 2em;"><input type="radio" value="Substraction" [(ngModel)]="Operation" (change)="OperatorChange()">Substraction(-)</div>
    <div style="padding:0.5em 2em;"><input type="radio" value="Multiplication" [(ngModel)]="Operation" (change)="OperatorChange()">Multiplication(*)</div>
    <div style="padding:0.5em 2em;"><input type="radio" value="Division" [(ngModel)]="Operation" (change)="OperatorChange()">Division(/)</div>
    <div style="padding:0.5em 2em;"><input type="radio" value="Module" [(ngModel)]="Operation" (change)="OperatorChange()">Module(%)</div>
  </div>
  <div [hidden]="showcalc">You have selected {{Operation}}</div>
  <div [hidden]="showcalc" style="margin:2em 0;" >
    <div><input type="number" placeholder="Number1" [(ngModel)]="Number1"></div>
    <div>{{Operator}}</div>
    <div><input type="number" placeholder="Number2" [(ngModel)]="Number2"></div>
    <div style="padding:1em 0;"><button (click)="Calculate()">Calculate</button></div>
    <div [hidden]="showres">Result: {{Result}}</div>
  </div>
</div>
<router-outlet></router-outlet>
